html {
	overflow-y: auto;
}

.items p {
	margin: .2em 0;
	-webkit-user-select: text;
	cursor: text;
	overflow: hidden;
}

.items a {
	cursor: pointer;
}

#messageBox {
	width: 20em;
	text-align: center;
}

#messageOk,
#messageCancel {
	width: 6em;
}

.ui-input-text,
.ui-select {
	margin: 0 .5em;
}

.ui-select span {
	height: 1em;
}

.info {
	position: fixed;
	bottom: 0;
	font-size: .75em;
	color: #ccc;
}
